/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 06 - POPUPS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.popupWrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 17;
    transition-delay: 300ms;
    &.active {
        left: 0;
        transition-delay: 0s;
        .bgLayer {
            opacity: 1;
        }
    }
    .bgLayer {
        position: absolute;
        left: 0;
        right: 0;
        top: -100px;
        bottom: -100px;
        opacity: 0;
        background: rgba(0, 0, 0, .8);
        transition: opacity 300ms linear 300ms;
    }

    .buttonClose {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: bottom;
        cursor: pointer;
        z-index: 2;
        span {
            position: absolute;
            top: 50%;
            background: $blackColor;
            height: 1px;
            width: 100%;
            display: block;
            transition: all 150ms linear;
            &:first-child {
                transform: rotate(-45deg);
            }
            &:last-child {
                transform: rotate(45deg);
            }
        }
    }
}

.popupContent {
    position: absolute;
    top: 0;
    left: -10000px;
    width: 100%;
    height: 100%;
    padding: 15px;
    opacity: 0;
    font-size: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    transform: translateY(50px);
    transition: transform 300ms linear, opacity 300ms linear 300ms, left 0s linear 300ms;
    &.active {
        position: relative;
        opacity: 1;
        left: 0;
        transform: translateY(0);
        opacity: 1;
        transition: transform 300ms linear 300ms, opacity 300ms linear 300ms, left 0s linear; 
    }
    .layerClose {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 10000px;
    }

    // Video popup animation
    
    &[data-rel="videoPopup"] {
        padding: 0;
        height: 0;
        left: 0;
        transform: translateY(0);
        transition: height 350ms linear, left 0s linear 600ms, opacity 0s linear 500ms;
        .popupContainer {
            height: 100%;
            background: #000;
        }
        iframe  {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &.active {
            height: 100%;
            transition: height 350ms linear;
        }
    }
    &:after {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        content: '';
    }
}

.popupContainer {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    text-align: left;
    background: #fff;
    max-width: 100%;
    &.size1 {
        max-width: 750px;
    }
    .buttonClose {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

// Video popup

.popupVideoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thanksMessage {
    position: relative;
    padding:  110px 30px;
    z-index: 1;
    text-align: center;
    background: linear-gradient(52.75deg,#eee 0,#d8d8d8 100%);
    .as {
        margin-bottom: 15px;
    }
    .bubble {
        z-index: -1;
        &.size2 {
            left: 13%;
            top: 25px;
        }
        &.size3 {
            left: 10%;
            top: 69px;
        }
        &.size4 {
            left: 23%;
            top: 5px;
        }
    }
 }

/*----------------------------------------------------------------*/
/* HOVER
/*----------------------------------------------------------------*/

@media (min-width: 992px) {
    .buttonClose:hover span {
        background: $orangeColor;
    }
}

/*----------------------------------------------------------------*/
/* Media Queries
/*----------------------------------------------------------------*/

@media (max-width: 1500px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    .thanksMessage {
        padding: 60px 15px;
    }
}